language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - '14'
jobs:
  include:
    - stage: test
      script:
        - npm run test:prod
    - stage: build
      script:
        - npm run build
        - npm run report-covergae
    - stage: release
      if: branch = master AND type != pull_request
      script:
        - npm run semantic-release
